
#list_news {
    margin-left: 30px;
    margin-right: 30px;
}

#one_new {
}

#image {
    float: left;
    width: 300px;
    height: 200px;
}

#data {
    margin-left: 300px;
    margin-top: 20px;
    width: 484px;
    height: 225px;
}

#date
{
    color: #313131;
    text-align: right;
    font-size: 14px;
}

#title
{
    text-align: center; /* Выравнивание по центру */
    background: #DFDCCE; /* Цвет фона шапки */
    color: #2b4697;
    width: 80%;
}

#anons
{
    padding: 2px;
    margin-left: 10%;
    width: 80%;
    margin-top: -30px;
    background-color: #b6c0e3;
    color: #000000;
}

#add_new {
    margin-bottom: 22px;
    position: absolute;
    bottom: 0;
}

img {
    width: inherit;
    height: inherit;
}

a{
    text-decoration: none;
}


