#container {
    margin: 0 auto;
    background-image: url(JotaroSide.jpg);
    background-position: top;
    background-repeat: repeat-x, round;
    background-attachment: fixed;
}

#name_magazine {
    font-size: 30px;
    font-family: fantasy;
    text-decoration: none;
    text-shadow: 2px 2px 3px black;
    color: #5574d3;
    mix-blend-mode: color-burn;
}

#content {
    background: #BFBBAC;
    margin: 0 auto;
    padding: 10px;
    min-width: 800px;
    max-width: 800px;
    position: relative;
    height: 93%;
}

#footer {
    background-color: #667299;
    width: 97.5%;
    font-size: 18px;
    position: absolute;
    bottom: 0;
}

#empty {
    height: 10px;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

hr {
    color: #ffffff;
}
#top_site {
    background-color: #e3b688;
    text-align: center;
    height: 40px;
}

#list_news {
    overflow: hidden;
}

#polosa {
    position: relative;
    top: 0;
    transition: all ease 1s;
}

#polosa::after {
    content:"";
    display:block;
    clear:both;
}