#container {
    margin: 0 auto;
    background-image: url(JotaroSide.jpg);
    background-position: top;
    background-repeat: repeat-x, round;
    background-attachment: fixed;
}

#name_magazine {
    font-size: 30px;
    font-family: fantasy;
    text-decoration: none;
    text-shadow: 2px 2px 3px black;
    color: #6A6E6D;
}

#content {
    background: #E6E2DA;
    margin: 0 auto;
    padding: 10px;
    min-width: 800px;
    max-width: 800px;
    position: relative;
    height: 93%;
}

#footer {
    background-color: #D4CACC;
    width: 97.5%;
    font-size: 18px;
    position: absolute;
    bottom: 0;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

hr {
    color: #ffffff;
}
#top_site {
    background-color: #D4CACC;
    text-align: center;
    height: 40px;
}

#list_news {
    background-color: #ACAAA6;
    overflow: hidden;
}

#polosa {
    position: relative;
    top: -20px;
    transition: all ease 1s;
}

.button {
    background-color: #F2EDE9;
    border: 1px solid black;
    text-align: center;
    height: 20px;
}

.arrow {
    width: 10px;
    height: 9px;
    border-top: 5px solid rgb(138, 66, 81, .4);
    border-right: 5px solid rgb(138, 66, 81, .4);
    margin: 0 auto;
}    

.arrow-top {
    margin-top: 5px;
    transform: rotate(-45deg);
}

.arrow-bottom {
    transform: rotate(135deg);
}    


