
#header
{
    font-size: 2.2em; /* Размер текста */
    text-align: center; /* Выравнивание по центру */
    padding: 7px; /* Отступы вокруг текста */
    background: #DFDCCE; /* Цвет фона шапки */
    color: #5574d3;
}

#synopsis
{
    background: #BFBBAC;
    margin: 0 160px; /* Ширина колонок */
    padding: 10px;
}

#stext
{
    color: #4f0f0f;
    font-size: 24px;
    padding: 8px;
}
/* 4f0f0f */

#date
{
    padding: 2px;
    color: #707070;
    text-align: right;
    font-size: 14px;
}

#links
{
    padding-right: 7%; /*не робит*/
    text-align = center;
    font-size: 12px;
}

#divide
{
    text-align: "center";
    font-size: 30px;
    font-weight: 700;
    color: #B0AD9D;
}

#author
{
    padding: 2px;
    color: #444444;
    text-align: right;
    font-size: 14px;
}